/interface gre add name=gre-{{ device.name }}  
/system identity set name={{ device.name }} 
{% for interface in device.interfaces %}
    {% if 'internet' in interface.tags %}
        {% for ip in interface.ips %}
ip route add {{ ip }}
        {% endfor %}
    {% endif %}
{% endfor %}
